---
import SectionHeading from "./ui/section-heading.astro";
import Button from "./ui/button.astro";
import ExternalLinkIcon from "./ui/external-link-icon.astro";
import ArrowIcon from "./ui/arrow-icon.astro";

interface Item {
    title: string;
    href: string;
    role: string;
    period?: string;
    description: string;
}

interface SectionListProps {
    title: string;
    items: Item[];
    viewAllHref?: string;
    viewAllText?: string;
}

const { title, items, viewAllHref, viewAllText } =
    Astro.props as SectionListProps;
---

<section class="animate-fade-in-up mb-16">
    <SectionHeading title={title} class="mb-6" />
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        {
            items.map((item) => (
                <div class="group relative">
                    <a
                        href={item.href}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="hover:border-accent block h-full border border-neutral-800 bg-neutral-900/20 p-4 transition-[border-color,background-color] duration-300 hover:bg-neutral-900/50"
                    >
                        <div class="mb-2 flex items-start justify-between">
                            <h3 class="group-hover:text-accent text-lg font-semibold text-white transition-colors duration-200">
                                {item.title}
                            </h3>
                            {item.href.startsWith("http") && (
                                <ExternalLinkIcon class="group-hover:text-accent h-4 w-4 text-neutral-500 group-hover:translate-x-1 group-hover:-translate-y-1" />
                            )}
                        </div>
                        <p class="mb-3 text-xs font-medium tracking-wider text-neutral-500 uppercase">
                            {item.role}{" "}
                            {item.period && <> &mdash; {item.period}</>}
                        </p>
                        <p class="text-sm leading-relaxed text-gray-400">
                            {item.description}
                        </p>
                    </a>
                </div>
            ))
        }
    </div>
    {
        viewAllHref && (
            <div class="mt-6 flex justify-end">
                <Button variant="ghost" href={viewAllHref}>
                    {viewAllText}
                    <ArrowIcon
                        direction="right"
                        class="group-hover:translate-x-1"
                    />
                </Button>
            </div>
        )
    }
</section>
